@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;600;700;800&display=swap');

$primary-clr: #000;
$secondary-clr: #F2AE00;

$white-clr: #fff;
$text-clr: #b6b6b6;
$alert-clr: #DA1212;
$success-clr: #009C19;

$linear-gradient: linear-gradient(173.57deg, #2F2F2F 5.07%, #000 129.43%);
$shadow: rgba($color: #424242, $alpha: 0.25);

$font-family: 'Manrope', sans-serif;
$weight-normal: 400;
$lineheight: 1.2;
$letterspacing: 0.005em;;

$global-width: 1276px;
